* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  color: white;
}

body {
  background-color: rgb(73, 51, 123);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 85vw;
  max-width: 550px;
  height: 75vh;
  max-height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(8, 8, 125);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 15px 2px black;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px black;
}

p {
  margin-bottom: 45px;
  font-size: 0.9rem;
}

.subtitle {
  font-size: 1.3rem;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.task-input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  flex: 1;
  color: rgb(8, 8, 125);
  font-size: 1rem;
  font-weight: bold;
}
.task-input:focus {
  outline: none;
}
#submit-btn {
  width: 39.2px;
  height: 39.2px;
  border-radius: 50%;
  margin-left: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  color: rgb(8, 8, 125);
  font-weight: bold;
}

#submit-btn:hover {
  transform: scale(1.2);
}

.task-list {
  width: 100%;
  margin-top: 20px;
  max-height: 100%;
  overflow-y: auto;
  padding: 15px;
  list-style: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-direction: column-reverse;
}

.task-list::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-bottom: 15px;
  border-radius: 10px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.task > p {
  margin: 0;
  margin-left: 10px;
  color: rgb(8, 8, 125);
  font-weight: bold;
  word-break: break-word;
}

.icons span:last-of-type {
  margin-left: 10px;
}

.icons {
  cursor: pointer;
}

.checkbox {
  font-size: 18px;
}
