* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./pictures/img2.jpg);
  object-fit: cover;
}

.container {
  width: 85vw;
  max-width: 550px;
  height: 75vh;
  max-height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 15px 2px black;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.3rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: solid rgba(0, 0, 0, 0.5);
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.task-input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  flex: 1;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: bold;
}
.task-input:focus {
  outline: none;
}
#submit-btn {
  width: 39.2px;
  height: 39.2px;
  border-radius: 50%;
  margin-left: 10px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

#submit-btn:hover {
  transform: scale(1.2);
}

.task-list {
  width: 100%;
  margin-top: 20px;
  max-height: 100%;
  overflow-y: auto;
  list-style: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-direction: column-reverse;
}

.task-list::-webkit-scrollbar {
  display: none;
}
.completed {
  text-decoration: line-through;
  color: #989898;
}
.completed-div {
  background-color: rgb(218, 213, 213);
}

li {
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 15px;
}
li div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-checkbox {
  justify-content: flex-start;
  gap: 15px;
}
.btn-div {
  justify-content: flex-end;
  gap: 10px;
}
.btn-div button {
  width: 60px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
.btn-div button:hover,
button:hover {
  transform: scale(1.1);
}
.task {
  font-size: 1.2rem;
  margin: 0;
  color: rgb(0, 0, 0);
  text-wrap: nowrap;
}

.task:focus {
  outline: none;
}

.change-bg {
  width: auto;
  padding: 10px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 20px;
  left: 20px;
}
